body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.team-container {
    text-align: center;
}

.block-container img {
    width: 200px;
    cursor: pointer;
}

#stats-container {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}
